<?xml version="1.0"?>
<config>
    <modules>
        <Zeta_Weightlimiter>
            <version>0.1.0</version>
        </Zeta_Weightlimiter>
    </modules>
    <default>
        <config_weight>
            <minimum_weight>
                <enabled>1</enabled>
            </minimum_weight>
        </config_weight>
        <config_weight>
            <minimum_weight>
                <weight>10</weight>
            </minimum_weight>
        </config_weight>
    </default>
    <global>
        <models>
            <zeta_weightlimiter>
                <class>Zeta_Weightlimiter_Model</class>
                <resourceModel>zeta_weightlimiter_resource</resourceModel>
            </zeta_weightlimiter>
            <zeta_weightlimiter_resource>
                <class>Zeta_Weightlimiter_Model_Resource</class>
            </zeta_weightlimiter_resource>
        </models>
        <helpers>
            <zeta_weightlimiter>
                <class>Zeta_Weightlimiter_Helper</class>
            </zeta_weightlimiter>
        </helpers>
    </global>
    <frontend>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <zeta_weightlimiter_html_before>
                        <type>singleton</type>
                        <class>Zeta_Weightlimiter_Model_Observer</class>
                        <method>disableOnepageLink</method>
                    </zeta_weightlimiter_html_before>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <zeta_weightlimiter_prepare_layout_before>
                        <type>singleton</type>
                        <class>Zeta_Weightlimiter_Model_Observer</class>
                        <method>addMessage</method>
                    </zeta_weightlimiter_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
        <translate>
            <modules>
                <zeta_weightlimiter>
                    <files>
                        <default>Zeta_Weightlimiter.csv</default>
                    </files>
                </zeta_weightlimiter>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <zeta_weightlimiter>
                    <files>
                        <default>Zeta_Weightlimiter.csv</default>
                    </files>
                </zeta_weightlimiter>
            </modules>
        </translate>
    </adminhtml>
</config>